// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;


$my-green: #729B79;
$my-blue: #475B63;
$light-green: #BACDB0;
$light-gray: #F3F3F3;
$light-black: #2E2C2F;
$black: #000000;
$gray: #7D7D7D;
