// Specific CSS for your home-page

.home-background-image{
  width: 100%;
  height: 454px;
  position: relative;
  background-color: grey;
}

.home-window {
  background: $my-green;
  position: absolute;
  width: 550px;
  height: 326px;
  right: 210px;
  bottom: 0px;
}

.title-studios-near-me h1 {
  color:white;
}

.button-studio-near-me {
  position: absolute;
  margin-left: 303px;
  margin-top: 200px;
}

.title-studios-near-me {
  width: 300px;
}
