<div class="home-description">
  <h1>VOTRE SESSION MUSIQUE EN QUELQUES CLICS </h1>
  <div class="etapes d-flex">
    <div class="search etape">
      <i class="fas fa-search noHover"></i>
      <p>Trouvez un studio</p>
    </div>
    <div class="calendar etape">
      <i class="far fa-calendar-plus"></i>
      <p>Vérifiez les disponibilités</p>
    </div>
    <div class="book etape">
      <i class="fas fa-check"></i>
      <p>Réservez en ligne</p>
    </div>
  </div>
</div>
