.booking-card {
  width: 100%;
  background-color: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px; 
  margin-bottom: 30px;
}

.booking-card-review {
  width: 100%;
  background-color: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px; 
  margin-bottom: 30px;
}