
.cards-rooms {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.cards-rooms::after {
  content: '';
  flex: auto;
}

.card-room {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 340px;
  min-width: 300px;
  position: relative;
  margin-bottom: 30px;
  margin-right: 30px; 
}

.card-room img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  min-height: 200px;
}

.card-room h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-room p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-room-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: $light-gray
}

.card-room-description h2 {
  font-size: 24px;
  color: $black;
}


.card-room-description .address {
  color: $light-black;
  font-size: 12px;
}

.card-room-description .description {
  font-size: 14px;
}

.card-room-description .capacity {
  color: $black;
  font-size: 14px;
}

.card-room-gears {
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}


.studio-name {
  position: absolute;
  background-color: $black;
  color: white;
  border-radius: 35px;
  padding: 8px;
  top: -20px;
  right: 16px;
}



.card-room-infos .collapse p {
  font-size: 14px;
}



