.card-studio {
  overflow: hidden;
  height: 120px;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-studio img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-studio h2 {
  font-size: 36px;
  font-weight: medium;
  margin: 0;
}

.card-studio p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-studio .card-studio-infos {
  padding: 16px;
}
