.card-studio {
  overflow: hidden;
  height: 188px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  width: 60%;
  margin-bottom: 30px;
  position: relative;

  p {
    font-size: 12px;
  }

  h2 {
    font-size: 26px;
  }
}

.card-studio-img {
  height: 100%;
  width: 230px;
  background-size: cover;
  background-position: center;
}

.card-studio .card-studio-infos {
  padding: 16px;
}

.card-studio .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-studio .description {
  color: black;
}

.card-studio .address {
  color: gray;
}
