.custom-container {
  width: 1200px;
  max-width: 100%;
}

#pages-home .custom-container {
  width: 100%;
  padding: 0;
  position: relative;
  margin-top: 0px;
}

.custom-container-banner {
  width: 100%;
  padding: 0;
  position: relative;
  margin-top: 0px;
}

.search-container {
  width: 1200px; 
  margin-right: auto;
  margin-left: auto;
}