.dashboard-container {
  padding: 50px;
}

.form-group {
  // margin-bottom: 5px;
}


/*
*
* ==========================================
* Tabs MENU
* ==========================================
*
*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
    &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 5px;
    content: "";
    display: block;
    height: 1.5px;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
    left: 0;
  }
}



.underlineHoverBlack {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 0px 20px;
  position: relative;

  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 5px;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a:hover:after {
    width: 100%;
    left: 0;
  }
}

.text-black {
  color:black !important;
}

.tabContent {
  // // background-color: #8080800f;
  // border-radius: 12px;

}


// .bd-light-grey {

//   background-color: grey !important ;
// }


/*
*
* ==========================================
* MES RESA
* ==========================================
*
*/
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.booking-card-dash {
  width: 150px;
  background-color: $light-green;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 9px;
  padding: 16px 0px 16px 0px;
  height: 150px;
  margin-left: 0px;
  border-radius: 5px;
}

.past-event {
  background-color: $my-blue;
}

.booking-card-review-dash {
  width: 100%;
  background-color: $my-green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 100px;
}


.booking-card-infos-dash {
  width: 3fr;
  color: white;
  border-right: solid;
}

.book-details-dash {
  width: 100%;
  color: black;
}

.book-map {
width: 100%;
}



/*
*
* ==========================================
* switch bouton
* ==========================================
*
*/


/* Large toggl switches */
.custom-switch-lg .custom-control-label::before {
    left: -2.25rem;
    width: 3rem;
    border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-label::after {
    top: calc(.25rem + 3px);
    left: calc(-2.25rem + 4px);
    width: calc(1.5rem - 6px);
    height: calc(1.5rem - 6px);
    border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.4rem);
}

.custom-switch-lg .custom-control-label::before {
    height: 1.5rem;
}

.custom-switch-lg .custom-control-label {
    padding-left: 1.5rem;
    line-height: 1.7rem;
}



/*
*
* ==========================================
* CONVERSATION
* ==========================================
*
*/
.list-group-item.active {
  border-color: transparent;
  background-color: $light-green;
}

#message-box-pills {
  .nav-pills .nav-link.active::after{
    background:transparent;
  }
  .chatbtn.active{
    background-color: $light-green;;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 0.2px solid rgba(0, 0, 0, 0.125);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.chatbtn {
  background-color: transparent;
  height: 80px;
  line-height: 020px;
}

