.datebox {
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;  
}

.timebox {
  border: 1px solid black; 
  margin-right: 10px;
  margin-bottom: 10px; 
}

.red {
  background-color: $my-green;
}

.redtime {
  background-color: $my-green;
}