.datebox {
  background-color: white;
  margin-right: 1px;
  margin-bottom: 1px;
  min-width: 14%;
  max-width: 15%;
  height: 50px;
  color: black;
  text-align: center;
  font-weight: 600;
  line-height: 50px;
}

.datebox:hover {
  background-color: darkgray;
}

.datebox a {
  color: black;
  text-decoration: none;
}

.timebox {
  border-radius: 5px;
  border: 1px solid darkgray;
  height: 30px;
  color: black;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  width: 90px;
  margin: 5px auto;
  cursor: pointer;
}

.timebox:hover {
  background-color: darkgray;
}

.red {
  background-color: $my-green
}

.redtime {
  background-color: $my-green;
}

.booked {
  border-radius: 5px;
  background-color: grey;
  height: 30px;
  width: 90px;
  color: black;
  text-align: center;
  font-weight: 600;
  margin: 5px auto;
  line-height: 30px;
}

.daybox {
  margin-top: -1px;
  margin-right: -1px;
  min-width: 14%;
  max-width: 15%;
  height: 30px;
  text-align: center
}

.monthbox {
  width: 33%;
  text-align: center;
}
.monthdir {
  width: 33%;
  text-align: center;
}

.monthtitle {
  width: 100%;
  text-align: center;
}

.bookcard {
  background-color: white;
}

.book-btn {
  margin: 0 auto;
}
