.datebox {
  border: 1px solid black;
  margin-top: -1px;
  margin-right: -1px;
  min-width: 14%;
  max-width: 15%;
  max-height: 30px; 
}

.timebox {
  border: 1px solid black; 
  margin-bottom: 10px; 
}

.red {
  background-color: $my-green;
}

.redtime {
  background-color: $my-green;
}

.booked {
  border: 1px solid black;
  border: 1px solid black; 
  margin-bottom: 10px; 
  background-color: grey;
}

.daybox {
  margin-top: -1px;
  margin-right: -1px;
  min-width: 14%;
  max-width: 15%;
  height: 30px; 
  text-align: center
}

.monthbox {
  width: 33%; 
  text-align: center; 
}
.monthdir {
  width: 33%; 
  text-align: center; 
}

.monthtitle {
  width: 100%;
  text-align: center;
}

.bookcard {
  background-color: white;
}