.filter {
  width: 200px;
  margin-right: 20px;

  .form-control {
    width: 93%;
    font-weight: 350;
    font-size: 15px;
    color: #6c757d;
  }

  .choose-instrument {
    color: black;
}
}

.card-room-index {
  width: 300px;
  min-width: 200px;
  margin-right: 15px;
  height: max-content;
}

.choose-instrument {
  color: #6c757d;
}
