.hero-studio {
  height: 400px;
  width: 100%;
}

.hero-studio-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.hero-studio-title {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: $my-green;
  position: relative;
  width: 340px;
  margin-top: -150px;
  color: white;
  padding: 15px;
}

.studio-desc {
  width: 60%;
  margin-top: 40px;
}

.hero-card .fas {
  margin-right: 10px;
  margin-left: 20px;
}
