.map-container-studios {
  position:relative;
  height: 594px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 60px;
}

.radius-graduation {
  position: absolute;
  right: -16px;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  backdrop-filter: sepia(1);
}

#map {
  position: absolute;
  border-radius: 5px;
}

.mapboxgl-popup {
  max-width: 200px;
  width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-address {
  color: $gray;
}

.radius {
  width: 80px;
  height: 10px;
    .form-group {
      margin-bottom:0px;
    }

}
