.map-container-studios {
  position:relative;
}
.radius-graduation {
  position: absolute;
  right: 0;
  top:0;
}

#map {
  position: absolute;
}

.mapboxgl-popup {
  max-width: 200px;
  width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-address {
  color: $gray;
}

.radius {
  width: 80px;
  height: 10px;
    .form-group {
      margin-bottom:0px;
    }

}
