.navbar-music-now {
  justify-content: space-between;
  background: $my-green;
}

.navbar-music-now .navbar-collapse {
  flex-grow: 0;

}

.navbar-music-now .navbar-brand img {
  width: 40px;
}

.music-now {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
}

.nav-link {
  color: white !important;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
