.review {
  background-color: $light-gray;
  margin-bottom: 15px;
  padding: 15px;

  p {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  }

  i {
  color:$my-green;
  }
}

.title-review {
  display: flex;
  align-items: baseline;
}

.author {
  color: $gray;
  font-size: 10px;
}

.fa-star {
  color:  $my-green;
  cursor: pointer;
}

.review-counter {
  color: $gray;
  font-weight: lighter;
}
