.review {
  background-color: $light-gray;
  margin-bottom: 15px;
  padding: 15px; 

  p {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  }

  i {
  color:$my-green;
  }
}

.author {
  color: $gray;
  font-size: 10px;
}
