.calendar_show{
  display: flex;
  justify-content: space-around;
}

.calendar-heading {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.calendar_container {
  margin-bottom: 30px;
  height: 100%;
  width: 90%;
}

.calendar_form {
  width: 20%;
  margin-left: 30px;
}


.simple-calendar {
  .day {
    background-color: white;
    font-style: bold;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
