.tags-filter {
  margin-top: 30px;
}

.tag-filter {
  background-color: #F3F3F3;
  border-radius: 50px;
  color:#6c757d;
  font-size: 10px;
  font-weight: 350;
  margin-top: 15px;
  padding: 7px;
  width: 80%;
  text-align: center;
  border: 1px solid #6c757d;
  margin-left: 13px;
}
