body {
  background-color: white;
}

a {
  color: $black;
  &:hover{
    color: $black;
  }
}

.noHover{
  pointer-events: none;
}

img {
  object-fit: cover;
}

.font-thin {
  font-family: Oswald;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 36px;
}
