<h1>studio</h1>

<% @studios.each do |studio| %>
  <h3> <%= studio.name %> </h3>
  <h5> <%= studio.address %> </h5>
  <p> <%= studio.description %> </p>
  <%= link_to 'studio details', studio_path(studio) %>
<% end %>

